/* CSS Document */
.main_bg {
	background-image:url(images/tall_y.gif);
	background-repeat:repeat-y;
}
.footer {
	background-image:url(images/footer.gif);
	background-repeat:no-repeat;
}
.footer_font{
	color:#627074;
	font-size:9px;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	padding-top:25px;
	padding-bottom:0px;
	padding-left:0px;
	padding-right:0px;
}
A.nav1
	{
		font-family:'verdana';
		color:#3399FF;
		text-decoration:none;
		font-size:9px;			
	}
	A.nav1:hover
	{
		font-family:'verdana';
		color:#3399FF;
		text-decoration:underline;
		font-size:9px;
	}
.font2{
	color:#627074;
	font-size:10px;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	padding-top:15px;
	padding-bottom:0px;
	padding-left:0px;
	padding-right:0px;
}
 .input1{
  		width:146px;
		height:22px; 
		background-color:#FFFFFF;
		font-size:11px;
		font-family:Tahoma; 
		color:#444444;
		line-height:12px;
		padding:3 0 0 4px;
		vertical-align:middle;
		margin-left:10px;
		}
  .input2{
  		width:117px;height:20px; 
		background-color:#FFFFFF;
		font-size:11px;
		font-family:Tahoma; 
		color:#33576F;
		line-height:12px;
		padding:3 0 0 4px;
		border-color:#B0B0B0;
		border-width:1px;
		border-style:solid;
		vertical-align:middle;
		}
 .textarea{
  		width:127px;height:79px; 
		background-color:#FFFFFF;
		font-size:11px;
		font-family:Tahoma; 
		color:#33576F;
		line-height:12px;
		padding:3 0 0 4px;
		border-color:#B0B0B0;
		border-width:1px;
		border-style:solid;
		overflow:hidden;
		}
.font3{
	color:#627074;
	font-size:10px;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	
}
.font4{
	color:#627074;
	font-size:11px;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	
}
.font5{
	color:#627074;
	font-size:11px;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	padding-top:0px;
	padding-bottom:0px;
	padding-left:20px;
	padding-right:10px;
}
A.nav2
	{
		font-family:'verdana';
		color:#3399FF;
		text-decoration:none;
		font-size:11px;			
	}
	A.nav2:hover
	{
		font-family:'verdana';
		color:#3399FF;
		text-decoration:underline;
		font-size:11px;
	}
.font6{
	color:#627074;
	font-size:14px;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	
}
.font7{
	color:#627074;
	font-size:14px;
	font-family:Tahoma;
	
}
.font8{
	color:#627074;
	font-size:10px;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	padding-top:10px;
	padding-bottom:0px;
	padding-left:0px;
	padding-right:0px;
}
A.nav3
	{
		font-family:'verdana';
		color:#666666;
		text-decoration:none;
		font-size:12px;
					
	}
	A.nav3:hover
	{
		font-family:'verdana';
		color:#666666;
		text-decoration:underline;
		font-size:12px;
	}